@import url("https://use.typekit.net/vxz1xud.css");

@media only screen and (min-width: 601px) {
    body {
        background-color: #E3DFFF;
        margin: 0px;
        padding: 0px;
        height: 100%;
    }

    .overall-container {
        display: flex;
        margin: 0px;
        padding: 0px;
    }

    #rest-of-body {
        margin-left: 1rem;
    }

    .pic-navbar-container {
        display: flex;
        flex-direction: column;
    }

    #headshot {
        width: 33rem;
    }

    #headshot-image {
        width: 33rem;
        height: 100%;
    }

    h1 {
        font-family: forma-djr-display, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 4rem;
        line-height: 0;
    }

    h2 {
        font-family: forma-djr-display, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3rem;
    }

    h3 {
        font-family: forma-djr-deck, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2rem;
    }

    h4 {
        font-family: forma-djr-deck, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.75rem;
    }

    h5 {
        font-family: forma-djr-display, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1rem;
    }

    h6 {
        font-family: forma-djr-display, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: .75rem;
    }

    p {
        font-family: forma-djr-deck, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.25rem;
    }

    ol {
        font-family: forma-djr-deck, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.25rem;
    }

    ul {
        font-family: forma-djr-deck, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
    }

    li {
        font-family: forma-djr-deck, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.25rem;
    }

    li a {
        display: block;
        color: #FFF;
        padding: 8px 16px;
        text-decoration: none;
        color: #E3DFFF;
    }

    a:link {
        font-family: forma-djr-deck, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.25rem;
        color: #c39eff;
    }

    a:visited {
        color: #937666;
    }

    a:hover {
        color: #937666;
        text-shadow: .5px .5px 3px #000000;
    }

    hr {
        border: none;
        height: 1px;
        color: black; 
        background-color: black; 
    }

    .button {
        font-family: forma-djr-deck, sans-serif;
        font-weight: 100;
        font-style: normal;
        background-color: #3D3A4B; /* Green */
        border: none;
        color: white;
        text-align: center;
        display: inline-block;
        font-size: 2rem;
        margin: auto;
        text-align: center;
        width: 20rem;
        height: 6rem;
        border-radius: 1rem;
    }

    #button-container {
        margin:auto;
        text-align: center;
    }

    .button:hover {
        box-shadow: 0px 0px 4px #000000;
    }

    #colorpallate {
        width: 100%;
        border: 1px solid black;
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #E3DFFF;
        margin: 0px;
        padding: 0px;
        height: 100%;
    }

    .overall-container {
        display: flex;
        direction: column;
        flex-wrap: wrap;
        margin: 0px;
        padding: 0px;
    }

    #rest-of-body {
        margin-left: 1rem;
    }

    #headshot {
        width: 100%;
    }

    #headshot-item {
        height: 6rem;
        width: 100%;
        background-image: url("../img/laser.jpeg");
        background-size: 100%;
        background-position: 0% 15%;
    }

    #headshot-image {
        visibility: hidden;
    }

    h1 {
        font-family: forma-djr-display, sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 4rem;
        line-height: 0;
    }

    h2 {
        font-family: forma-djr-display, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3rem;
    }

    h3 {
        font-family: forma-djr-deck, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2rem;
    }

    h4 {
        font-family: forma-djr-deck, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.75rem;
    }

    h5 {
        font-family: forma-djr-display, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1rem;
    }

    h6 {
        font-family: forma-djr-display, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: .75rem;
    }

    p {
        font-family: forma-djr-deck, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.25rem;
    }
}