@import url("https://use.typekit.net/vxz1xud.css");

body {
    background-color: #3D3A4B;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.overall-container {
    display: flex;
    flex-direction: column;
}

.top-container {
    background-image: url('../img/hdr3.jpg');
    height: 40rem;
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* border: 3px solid grey;  */
}

.top-container-contact {
    height: 45rem;
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* border: 3px solid grey;  */
}

.main-description {
    margin-top: 0;
    padding-top: 0;
}


.contact-picture-container {
    /* border: 3px solid grey;  */
    padding-right: 0;
}

.contact-card-title {
    float: left;
    margin-right: 10rem;
}

.taskbuff-title-container {
    justify-content: center;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 8rem;
}

.taskbuff-image-title {
    width: 50%;
}

.taskbuff-main-description {
    margin:auto;
}

.taskbuff-paragraph-text {
    text-align: center;
    /* border: 2px solid white; */
    width: 75%;
    margin: auto;
    color: white;
    font-size: 2rem;
}

.button-github {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: white;
    background-color: transparent;
    text-align: center;
    display: inline-block;
    font-size: 1.5rem;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    width: 14rem;
    height: 6rem;
    border-radius: 0.3rem;
    border: 2px solid white;
}

.button-github:hover {
    color: black;
    background-color: white;
}

.midbreak {
    width: 75%;
    color: white;
    margin-top: 4rem;
    border-color: white;
    border-top: 1px solid white;
}

.main-title {
    margin:auto;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 2rem;
    text-shadow: 3px 3px 10px #000000;
    /* border: 3px solid white; */
    width: 75%;
    word-wrap:break-word;
    line-height: 8rem;
    font-size: 8rem;
}

.main-title-ml {
    margin:auto;
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-shadow: 3px 3px 10px #000000;
    /* border: 3px solid white; */
    width: 75%;
    word-wrap:break-word;
    line-height: 6rem;
    font-size: 6rem;
}

.main-title-pta {
    margin:auto;
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-shadow: 3px 3px 10px #000000;
    /* border: 3px solid white; */
    width: 75%;
    word-wrap:break-word;
    line-height: 8rem;
    font-size: 8rem;
}


.aspects-title-section {
    text-align: center;
    margin-top: 1rem;
}

.aspects-title {
    color: white;
    font-size: 5rem;
    /* border: 3px solid white; */
    margin-bottom: 4rem;
}

.aspects-title-subsection {
    color: white;
    font-size: 3rem;
    /* border: 3px solid white; */
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.projects-title-subsection {
    color: black;
    font-size: 3rem;
    /* border: 3px solid white; */
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}


.aspects-image {
    /* border: 3px solid white; */
    width: 25rem;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%; 
    height: auto;
}

.aspects-title-container {
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.image-container {
    /* border: 3px solid red; */
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.aspects-education {
    margin-right: 2rem;
    /* border: 3px solid white; */
    width: 25rem;
}

.project-taskbuff {
    margin-right: 1rem;
    border: 3px solid white;
    width: 25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0;
    padding-top: 0;
    background-color: white;
    box-shadow: 3px 3px 4px #000000;
}

.project-taskbuff-interior {
    margin-top: auto;
    padding-top: 1rem;
    margin-bottom: auto;
    /* border: 3px solid orange; */
}

.project-ml {
    margin-right: 1rem;
    margin-left: 1rem;
    /* border: 3px solid white; */
    width: 25rem;
    margin-top: 0;
    padding-top: 0;
    background-color: white;
    box-shadow: 3px 3px 4px #000000;
    padding-left: 1rem;
    padding-right: 1rem;
}

.project-pta {
    margin-left: 1rem;
    /* border: 3px solid green; */
    width: 25rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 100%;
    display: block;
    background-color: white;
    box-shadow: 3px 3px 4px #000000;
    padding-left: 1rem;
    padding-right: 1rem;
}

.project-ml-interior {
    padding-top: 1rem;
    padding-bottom: auto;
    /* border: 3px solid pink; */
}

.aspects-experience {
    margin-left: 1rem;
    margin-right: 1rem;
    /* border: 3px solid white; */
    width: 25rem;
}

.aspects-expertise {
    margin-left: 2rem;
    /* border: 3px solid white; */
    width: 25rem;
}

.taskbuff-image {
    width: 100%;
    justify-content: center;
    /* border: 3px solid white; */
}

.aspects-paragraph {
    color: white;
    /* border: 3px solid yellow; */
    padding: 0;
    line-height: 26pt;
}

.aspects-paragraph-text {
    text-align: center;
}

.projects-paragraph-text {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    color: black
}

.image-container {
    margin-bottom: 0;
}

h1 {
    font-family: forma-djr-display, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 8rem;
    line-height: 0;
}

h2 {
    font-family: forma-djr-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

h3 {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

h4 {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
}

h5 {
    font-family: forma-djr-display, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
}

h6 {
    font-family: forma-djr-display, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: .75rem;
}

p {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}

.story {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    color: white;
    line-height: 1.5rem;
}

label {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    color: white;
    line-height: 1.5rem;
}

ol {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}

ul {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

.navbar-container {
    margin: 0;
    padding: 0;
    /* border: 3px solid white;  */
}

.navbar-list { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}

.navbar-items {
    float: right;
    margin-right: 1rem;
    margin-top: .5rem;
}

.navbar-item {
    display: block;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
}

.navbar-item:hover {
    color: grey;
    text-shadow: .5px .5px 3px #000000;
}

#logo {
    width: 4rem;
    padding-top: 0.1rem;
    margin-left: 0.8rem;
}


li {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}

li a {
    display: block;
    color: #FFF;
    text-decoration: none;
    color: #E3DFFF;
}

a:link {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: black;
    text-shadow: .5px .5px 3px #000000;
}

hr {
    border: none;
    height: 1px;
    color: black; 
    background-color: black; 
}

.button {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: #FFFFFF; /* Green */
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 1.5rem;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    width: 12rem;
    height: 6rem;
    border-radius: 0.3rem;
    border: 2px solid black;
}

.button-container {
    margin:auto;
    text-align: center;
}

.button:hover {
    box-shadow: 0px 0px 4px #000000;
}

#colorpallate {
    width: 100%;
    border: 1px solid black;
}

.footer-container {
    background-color: black;
    text-align: center;
    color: white;
}

.footer-title {
    color: #B19994;
    margin-bottom: 0;
}

.footer-email {
    margin-top: 0;
    margin-bottom: 0;
}

.footer-phone {
    margin-top: .2rem;
}

#ica8_headshot {
    width: 13rem;
}

.full-img {
    position: relative;
    display: block;
    width: 640px;
    height: 480px;
  }
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 360px;
    background-color: rgba(0,0,0,.4);
    margin-bottom: 0px;
    visibility: hidden;
}

.thumb-bar img {
    display: block;
    width: 20%;
    margin-top: 0;
    padding-top: 0;
    float: left;
    cursor: pointer;
}

.thumb-bar {
    margin-top: 0px;
    margin-left: 6rem;
}

.assignment_10_landing_title {
    color: white;
    line-height: 10rem;
    text-align: center;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 13rem;
}

.assign-12-container {
    background-color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 10rem;
    text-align: center;
}

.assign-12-title {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.assign-12-text {
    margin-top: 1rem;
    padding-top: 1rem;
    margin-bottom: 0rem;
    font-size: 3rem;

}

.assign-12-phone-number {
    margin-top: 2rem;
    margin-bottom: 0rem;
    font-size: 2rem;
    font-family: Arial, sans-serif;
}

.assign-12-buttons {
    margin: auto;
}

.assign-12-button {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: #FFFFFF; /* Green */
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 1.5rem;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    width: 8rem;
    height: 6rem;
    border-radius: 0.3rem;
    border: 2px solid black;
    transition: 0.3s;
}

.assign-12-button:hover {
    background-color: #3D3A4B;
    color: white;
}

#assign-12-submit {
    margin-top: 0rem;
    width: 50rem;
}

#assign-12-submit:hover {
    background-color: #04491e;
    color: white;
}

.top-container-game {
    height: 35rem;
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.game-card-title {
    margin-top: 3rem;
    font-size: 8rem;
}

.game-body {
    background-image: url('../img/game_bg.png');
    background-repeat: no-repeat;
    /* background-size: 100%; */
}

.game-grid {
    margin-top: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    border-radius: 3rem;
    transition: 0.3s;
}

.game-header {
    border: 1px solid grey; 
    margin-bottom: 2rem;
}

.game-table { 
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    box-shadow: 3px 3px 4px #000000;
    display: table;
    width: 50%; 
    height: 20rem;
    border: 1px solid black;
    margin: auto;
}

.game-row { 
    display: table-row; 
}

.game-headrow { 
    display: table-row; 
    background: #DDDDDD; 
    font-weight: bold;
}

.game-cell { 
    display: table-cell; 
    text-align: center; 
    padding: 3px 10px;
    border: 1px solid #999999;
    font-size: 1rem;
}
   
#game-confetti {
    background-image: url("../img/confetti.gif");
    width: 100%;
    height: 50%;
    position: absolute;
    visibility: hidden;
}

@media only screen and (min-width: 601px) {
    /* stuff */
    .top-container {
        height: 40rem;
    }

    .title-container {
        justify-content: center;
        text-align: center;
        margin-top: 9rem;
        padding-bottom: 0;
        margin-bottom: 0rem;
    }

    .main-title {
        margin:auto;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 2rem;
        text-shadow: 3px 3px 10px #000000;
        width: 75%;
        line-height: 8rem;
        font-size: 8rem;
    }

    .aspects-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 3rem;
    }

    .projects-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 3rem;
        /* border: 3px solid blue; */
        margin-bottom: 3rem;
    }

    .contact-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .contact-picture {
        width: 20rem;
        margin-left: 20rem;
        margin-right: 2rem;
        padding-right: 0;
        height: 100%;
    }

    .contact-card-container {
        margin-top: 3rem;
        float: left;
        margin-right: 8rem;
        /* border: 3px solid blue;  */
        text-align: left;
    }

    .contact-card-title {
        float: left;
        margin-right: 10rem;
    }
}

@media only screen and (max-width: 1000px) {
    /* stuff */

    .top-container {
        height: 30rem;
    }

    .title-container {
        justify-content: center;
        text-align: center;
        margin-top: 9rem;
        padding-bottom: 0;
        margin-bottom: 0rem;
        overflow-wrap: break-word;
        word-break:break-all;
    }

    .main-title {
        padding-bottom: 4rem;
        margin-bottom: 4rem;
        margin-top: 0rem;
        padding-top: 0;
        font-size: 6rem;
        text-shadow: 3px 3px 10px #000000;
        overflow-wrap: break-word;
        word-break:break-all;
    }

    #projects {
        margin-top: 4rem;
    }

    #projects-title {
        font-size: 8rem;
    }

    .main-title-ml {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .main-title-pta {
        font-size: 4rem;
        line-height: 4rem;
    }

    #ml {
        margin-top: -4rem;
    }

    #pta {
        margin-top: -1rem;
    }

    #ml-description {
        font-size: 1.5rem;
    }

    #main-title-index {
        padding-top: -8rem;
        margin-top: -8rem;
        font-size: 8rem;
    }

    #main-description-index {
        padding-top: -8rem;
        margin-top: -8rem;
    }

    .aspects-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 3rem;
        margin:auto;
    }

    .projects-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 3rem;
        /* border: 3px yysolid blue; */
        margin-bottom: 3rem;
    }

    .aspects-education {
        /* margin-left: 4rem; */
        margin: auto;
    }

    .aspects-experience {
        margin: auto;
    }

    .aspects-expertise {
        margin: auto;
    }

    .project-taskbuff {
        margin: auto;
        margin-bottom: 2rem;
    }

    .project-ml {
        margin: auto;
        margin-bottom: 2rem;
    }

    .project-pta {
        margin: auto;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* height: 40rem; */
        /* border: 2px solid white; */
    }

    .contact-picture { 
        margin: auto;
        visibility: hidden;
        height: 0;
    }

    .contact-card-container {
        margin: auto;
        text-align: center;
    }

    .contact-card-title {
        float: center;
        margin-left: auto;
        margin-right: auto;
        /* margin-right: 10rem; */
    }

    .game-card-title {
        font-size: 4rem;
    }

    .navbar-items {
        float: right;
        margin-right: .2rem;
        margin-top: .5rem;
    }
}