@import url("https://use.typekit.net/vxz1xud.css");

body {
    background-color: #1E2F23;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.overall-container {
    display: flex;
    flex-direction: column;
}

.top-container {
    background-image: url('../img/bgrnd.jpg');
    height: 40rem;
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* border: 3px solid grey;  */
}

.top-container-contact {
    height: 40rem;
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* border: 3px solid grey;  */
}

.main-description {
    margin-top: 0;
    padding-top: 0;
}


.contact-picture-container {
    /* border: 3px solid grey;  */
    padding-right: 0;
}

.contact-card-title {
    float: left;
    margin-right: 10rem;
}

.taskbuff-title-container {
    justify-content: center;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 8rem;
}

.taskbuff-image-title {
    width: 50%;
}

.taskbuff-main-description {
    margin:auto;
}

.taskbuff-paragraph-text {
    text-align: center;
    /* border: 2px solid white; */
    width: 75%;
    margin: auto;
    color: white;
    font-size: 2rem;
}

.button-github {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: white;
    background-color: transparent;
    text-align: center;
    display: inline-block;
    font-size: 1.5rem;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    width: 14rem;
    height: 6rem;
    border-radius: 0.3rem;
    border: 2px solid white;
}

.button-github:hover {
    color: black;
    background-color: white;
}

.midbreak {
    width: 75%;
    color: white;
    margin-top: 4rem;
    border-color: white;
    border-top: 1px solid white;
}

.main-title {
    margin:auto;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 2rem;
    text-shadow: 3px 3px 10px #000000;
    /* border: 3px solid white; */
    width: 75%;
    word-wrap:break-word;
    line-height: 8rem;
    font-size: 8rem;
}

.main-title-img {
    margin:auto;
    margin-top: -5rem;
    padding-top: 0;
    padding-bottom: 2rem;
    width: 50%;
}

.main-title-ml {
    margin:auto;
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-shadow: 3px 3px 10px #000000;
    /* border: 3px solid white; */
    width: 75%;
    word-wrap:break-word;
    line-height: 6rem;
    font-size: 6rem;
}

.main-title-pta {
    margin:auto;
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-shadow: 3px 3px 10px #000000;
    /* border: 3px solid white; */
    width: 75%;
    word-wrap:break-word;
    line-height: 8rem;
    font-size: 8rem;
}

.aspects-container {
    display: flex;
}

.aspects-left-container {
    line-height: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
    /* border: 2px white solid; */
}

.aspects-right-container {
    margin-bottom: 0;
    padding-bottom: 0;
    height: 100%;
}

#techpeople {
    height: 100%;
    margin-bottom: 0;
}

.aspects-title-section {
    text-align: center;
    margin-top: 1rem;
}

.aspects-title {
    color: white;
    font-size: 4rem;
    /* border: 3px solid white; */
    margin-bottom: 3rem;

    font-family: clarendon-text-pro,serif;
    font-weight: 700;
    font-style: normal;
}

.aspects-description-section {
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
}

.aspects-description-first {
    color: white;
    font-size: 2rem;
    /* border: 3px solid white; */
    margin-bottom: 2rem;

    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
}

.aspects-description-second {
    color: white;
    font-size: 2rem;
    /* border: 3px solid white; */

    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
}

.aspects-title-subsection {
    color: white;
    font-size: 3rem;
    /* border: 3px solid white; */
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.projects-title-subsection {
    color: black;
    font-size: 3rem;
    /* border: 3px solid white; */
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}


.aspects-image {
    /* border: 3px solid white; */
    width: 25rem;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%; 
    height: auto;
}

.aspects-title-container {
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.image-container {
    /* border: 3px solid red; */
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.aspects-education {
    margin-right: 2rem;
    /* border: 3px solid white; */
    width: 25rem;
}

.project-taskbuff {
    margin-right: 1rem;
    border: 3px solid white;
    width: 25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0;
    padding-top: 0;
    background-color: white;
    box-shadow: 3px 3px 4px #000000;
}

.project-taskbuff-interior {
    margin-top: auto;
    padding-top: 1rem;
    margin-bottom: auto;
    /* border: 3px solid orange; */
}

.project-ml {
    margin-right: 1rem;
    margin-left: 1rem;
    /* border: 3px solid white; */
    width: 25rem;
    margin-top: 0;
    padding-top: 0;
    background-color: white;
    box-shadow: 3px 3px 4px #000000;
    padding-left: 1rem;
    padding-right: 1rem;
}

.project-pta {
    margin-left: 1rem;
    /* border: 3px solid green; */
    width: 25rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 100%;
    display: block;
    background-color: white;
    box-shadow: 3px 3px 4px #000000;
    padding-left: 1rem;
    padding-right: 1rem;
}

.project-ml-interior {
    padding-top: 1rem;
    padding-bottom: auto;
    /* border: 3px solid pink; */
}

.aspects-experience {
    margin-left: 1rem;
    margin-right: 1rem;
    /* border: 3px solid white; */
    width: 25rem;
}

.aspects-expertise {
    margin-left: 2rem;
    /* border: 3px solid white; */
    width: 25rem;
}

.taskbuff-image {
    width: 100%;
    justify-content: center;
    /* border: 3px solid white; */
}

.aspects-paragraph {
    color: white;
    /* border: 3px solid yellow; */
    padding: 0;
    line-height: 26pt;
}

.aspects-paragraph-text {
    text-align: center;
}

.projects-paragraph-text {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    color: black
}

.image-container {
    margin-bottom: 0;
}

h1 {
    font-family: forma-djr-display, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 8rem;
    line-height: 0;
}

h2 {
    font-family: forma-djr-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

h3 {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

h4 {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
}

h5 {
    font-family: forma-djr-display, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
}

h6 {
    font-family: forma-djr-display, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: .75rem;
}

p {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}

.story {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    color: white;
    line-height: 1.5rem;
}

label {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    color: white;
    line-height: 1.5rem;
}

ol {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}

ul {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

.navbar-container {
    margin: 0;
    padding: 0;
    /* border: 3px solid white;  */
}

.navbar-list { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}

.navbar-items {
    float: right;
    margin-right: 1rem;
    margin-top: .5rem;
}

.navbar-item {
    display: block;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
}

.navbar-item:hover {
    color: grey;
    text-shadow: .5px .5px 3px #000000;
}

#logo {
    width: 5rem;
    margin-top: -1.9rem;
    margin-left: 0.6rem;
}


li {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}

li a {
    display: block;
    color: #FFF;
    text-decoration: none;
    color: #E3DFFF;
}

a:link {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: black;
    text-shadow: .5px .5px 3px #000000;
}

hr {
    border: none;
    height: 1px;
    color: black; 
    background-color: black; 
}

.button {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: #FFFFFF; /* Green */
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 1.5rem;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    width: 12rem;
    height: 6rem;
    border-radius: 0.3rem;
    border: 2px solid black;
}

.button-container {
    margin:auto;
    text-align: center;
}

.button:hover {
    box-shadow: 0px 0px 4px #000000;
}

#colorpallate {
    width: 100%;
    border: 1px solid black;
}

.footer-container {
    background-color: black;
    text-align: center;
    color: white;
}

.footer-title {
    color: #d0ffc6;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.footer-email {
    margin-top: 0;
    margin-bottom: 0;
}

.footer-phone {
    margin-top: .2rem;
}

/* IF YOURE GRADING THIS NOW IGNORE THIS TAG, IT'S SOLELY USED FOR ICA8: */
/* IF YOURE GRADING THIS NOW IGNORE THIS TAG, IT'S SOLELY USED FOR ICA8: */
/* IF YOURE GRADING THIS NOW IGNORE THIS TAG, IT'S SOLELY USED FOR ICA8: */
#ica8_headshot {
    width: 13rem;
}

.full-img {
    position: relative;
    display: block;
    width: 640px;
    height: 480px;
  }
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 360px;
    background-color: rgba(0,0,0,.4);
    margin-bottom: 0px;
    visibility: hidden;
}

.thumb-bar img {
    display: block;
    width: 20%;
    margin-top: 0;
    padding-top: 0;
    float: left;
    cursor: pointer;
}

.thumb-bar {
    margin-top: 0px;
    margin-left: 6rem;
}


@media only screen and (min-width: 601px) {
    /* stuff */
    .top-container {
        height: 40rem;
    }

    .title-container {
        justify-content: center;
        text-align: center;
        margin-top: 9rem;
        padding-bottom: 0;
        margin-bottom: 0rem;
    }

    .main-title {
        margin:auto;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 2rem;
        text-shadow: 3px 3px 10px #000000;
        width: 75%;
        line-height: 8rem;
        font-size: 8rem;
    }

    .aspects-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 3rem;
    }

    .projects-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 3rem;
        /* border: 3px solid blue; */
        margin-bottom: 3rem;
    }

    .contact-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .contact-picture {
        width: 20rem;
        margin-top: 5rem;
        margin-left: 20rem;
        margin-right: 2rem;
        padding-right: 0;
    }

    .contact-card-container {
        margin-top: 3rem;
        float: left;
        margin-right: 8rem;
        /* border: 3px solid blue;  */
        text-align: left;
    }

    .contact-card-title {
        float: left;
        margin-right: 10rem;
    }
}

@media only screen and (max-width: 1000px) {
    /* stuff */
}